body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: rgb(241, 237, 237);
}
nav{ 
    display: flex;
    justify-content: space-between;
    background-color:rgb(196, 200, 180) ;
    box-shadow: 0px 4px 0px rgb(154, 154, 154);
    position: fixed;
    width: 100%;
    top: 0%;
}
nav ul a{
    text-decoration: none;
    margin-inline: 25px;
    font-size: 18px;
    color: black;
}
nav ul a:hover{
    color: red;
    border-bottom: 2px solid red;
}
nav button{
    width: 80px;
    height: 29px;
    background-color: rgb(231, 5, 5);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 2rem;
}
nav button:hover{
    border: 2px solid red;
    background-color: transparent;
    color: black;
    cursor: pointer;
    border-radius: 2rem;
}
nav ul{
    margin-right: 26px;
    margin-top: 22px;
}
nav .logo{
    margin-left: 23px;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 125px;
}
.mainText{
    margin-top: 33px;
}
#h1{
    font-size: 53px;
}
#h2{
    font-size: 40px;
    color: rgb(98, 170, 153);
}
.main img{
    margin-right: 100px;
}
#button{
    width: 140px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 24px;
    border: solid rgb(53, 37, 49);
    border-radius: 2rem;
    
}
#button:hover{
    border: 3px solid red;
    border-radius: 2rem;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
.head{
    text-align: center;
    margin-top: 45px;
    padding: 55px ;
}
.head span{
    color: rgb(6, 161, 161);
}
.card{
    display: flex;
    justify-content: center;
}
.card .trend{
    width: 280px;
    background-color: #fff;
    margin: 22px;
}
.trend img{
    width: 280px;
}
.trend .cardText{
    padding: 10px;
}
.trend i{
    color: rgb(225, 149, 0);
    font-size: 22px;
}
.trend button{
    width: 90px;
    height: 38px;
    background-color: red;
    font-size: 12px;
    border-radius: 22px;
    border: none;
    color: white;
    margin-left: 33px;
}
.card .trend:hover{
    background-color:rgb(196, 200, 180)  ;
    color: white;
    width: 290px;
    transition: 0.6s ease;
}
.blog{
    display: flex;
    justify-content: center;
}
.blogCard{
    display: flex;
    background-color: #fff;
    padding: 10px;
    margin-inline: 22px;
    width: 500px;
}
.blogCard:hover{
    width: 520px;
    transition: 0.7s ease;
    background-color: rgb(217, 214, 214);
}

.blogCard img{
    width: 44%;
    border-radius: 11px;
}
.blogCard .blogText{
    text-align: center;
    padding: 20px;
}
.blogText a{
    width: 90px;
    padding: 7px;
    background-color: red;
    color:white;
    font-size: 18px;
    border: none;
    border-radius: 2rem;
}
.customer{
    display: flex;
    justify-content: center;
}
.customer .review{
    width: 280px;
    background-color: #fff;
    padding: 24px;
    margin-inline: 23px;
}
.review img{
    width: 44%;
    border-radius: 50%;
}
.review i{
    color: orange;
    font-size: 22px;
}

.contactPage{
    border: 4px solid rgb(7, 133, 133);
    text-align: center;
    padding: 44px;
    width:500px ;
    margin-left: 31%;
}
.contactPage input{
    width: 400px;
    padding: 9px;
    font-size: 18px;
    outline: none;
    margin-top: 11px;
    border: 2px solid rgb(7, 133, 133);
}
.contactPage input:hover{
    border: 2px solid white;
    background: linear-gradient(to bottom, #ffffff 4%, #669999 99%);
}
.contactPage button{
    width: 140px;
    height: 37px;
    background-color: rgb(7, 133, 133);
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 20px;
    margin-top: 22px;
}
.contactPage button:hover{
    border: 3px solid white ;
    background: linear-gradient(to bottom, #ffffff 4%, #669999 99%);
    color: black;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(196, 200, 180);
    color: black;
    padding: 55px;
    margin-top: 55px;
}

/* login */
.loginPage{
    display: none;
    position: fixed;
    margin-top: 2%;
    margin-left: 77%;
    width: 280px;
    height: 350px;
    padding: 22px;
    border: 1px solid rgb(154, 154, 154);
    border-radius:15px;
    text-align: center;
    background: linear-gradient(to bottom, #33cccc 4%, #ffffff 99%);
}
.loginPage input{
    width: 200px;
    padding: 5px;
    margin-top: 20px;
    background: linear-gradient(to bottom, #33cccc 4%, #ffffff 99%);
    border:1px solid #000000;
}
.loginPage input:hover{
    background: linear-gradient(to bottom, #ffffff 4%, #669999 99%);
    border: 1px solid #fff;
}
.loginPage button{
    width: 100px;
    padding: 6px;
    margin-top: 40px;
    background: linear-gradient(to bottom, #33cccc 4%, #ffffff 99%);
}
.loginPage button:hover{
    border: 1px solid #fff;
    background: linear-gradient(to bottom, #ffffff 4%, #669999 99%);
}
.toggle-link {
    margin-top: 30px;
    text-align: center;
}
  
.toggle-link a {
    color: #094a4f;
    cursor: pointer;
    text-decoration: underline;
}